* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Poppins;
}

img {
    display: block;
    max-width: 100%;
}

header {
    background-image: url(img/background_v9.png);
    background-size: cover;
    min-height: 110vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 2%;
    z-index: 1;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #f86756;
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 2px 2px white;
}

nav li {
    border-radius: 50000px;
    position: relative;
}

nav li::after {
    content: "";
    width: 0%;
    background-color: #f86756;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    translate: -50% 0%;
    transition: 0.5s ease;
    box-shadow: 0 3px white;
}

nav li:hover::after {
    width: 60%;
}

.nadpisy {
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
    margin: auto;
}

.nadpisy h1 {
    font-family: "Pacifico";
    color: white;
    font-size: 12rem;
    /* font-weight: bold; */
    text-shadow: 4px 4px #fdbdc9, 8px 8px #be5925, 12px 12px #f0932e;
    position: relative;
}

.nadpisy span {
    color: #f86756;
    font-family: "Pacifico";
    font-size: 4rem;
    text-transform: lowercase;
    /* font-weight: bold; */
    text-shadow: 4px 4px white;
    position: absolute;
    bottom: 1rem;
    rotate: -11.5deg;
}

.logo {
    height: 160px;
    position: absolute;
    top: 5px;
    left: 50px;
}

.main-btn {
    font-size: 1.75rem;
    color: hsl(6, 92%, 65%);
    background-color: white;
    border: 5px solid hsl(6, 92%, 65%);
    padding: 0.5em 1em;
    position: absolute;
    right: 3%;
    bottom: 13%;
    border-radius: 500000px;
    text-transform: uppercase;
    transition: 0.25s ease;
    font-weight: bold;
}

.main-btn span {
    margin-left: 0.5em;
}

.main-btn:hover {
    background-color: rgba(250, 128, 114, 0.632);
    color: white;
    border-color: white;
}

.main-btn:active {
    scale: 0.95;
}

.intermezzo {
    background-color: blue;
    height: 7.5rem;
    position: relative;
}

#o-nas {
    padding: 15rem;
    /* background-image: linear-gradient(#ecc3c3, white, white, white); */
    background-color: white;
}

#o-nas .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#o-nas .text-cont {
    flex-basis: 50%;
}

#o-nas .img-cont {
    flex-basis: 50%;
    align-self: center;
}

#o-nas img {
    height: 600px;
}

#o-nas h2 {
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 50px;
    color: #f86756;
}

#o-nas p {
    font-size: 1.5rem;
    color: #f86756;
}

svg {
    position: absolute;
    rotate: 180deg;
    bottom: 0px;
    height: 100px;
    width: 100%;
}
